.imageHolder{
    width: 104px;
    height: 22px;
    margin: auto;
    margin-top: 1%;
    
}
.checkoutTab{
    padding-left:4%;
    display: grid;
    margin-top: 2%;
    grid-template-columns: 60% 35%;
    gap:15px;
    /* border: 1px solid red; */
}
/* .checkoutTab>div{
    border: 1px solid green;
   

} */
.checkoutTopTitle{
    width: fit-content;
    height: 20px;
    font-size: 11px;
    text-align: left;
    /* border: 1px solid red; */
}
.shippingHead{
    width: 370px;
    height: 20px;
    font-size: 11px;
    text-align: left;
    
}
.addressHolder{
    display: flex;
    flex-direction: column;
    
}
/* .addressHolder>div{
    border: 1px solid blue;
} */
.fillDetails{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    height: 80px;
    
}
.fillDetails>div{
    /* border: 1px solid red;  */
    display: flex;
    flex-direction:column;
    margin-bottom:3%;
    
}
.fillDetails>div>input{
    border:1px solid grey;
    
}

.shippingmethod{
    width: 370px;
    height: 20px;
    font-size: 11px;
    text-align: left;
    /* border: 1px solid red; */
}
.shippingbox{
   /* border:1px solid red; */
   display:flex;
   justify-content: flex-start;
   font-size: 11px;
}
.paymentmethod{
    width: 370px;
    height: 20px;
    font-size: 11px;
    text-align: left;
}
.paymentbox{
   /* border:1px solid red;  */
   display:flex;
   flex-direction: column;
   font-size: 11px;
}
.paymentbox>div{
    display: flex;
    justify-content:flex-start;
    margin-top: 5px;
    
}
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    
}
.footer>div{
    margin-right: 5%;
    color: grey;
}
.dataHead{
    font-size: 11px;
    margin-top: 5%;
    text-align: left;
    
}
/* .productChoosed{
    /* border:1px solid green; 
} */
.total>div{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    
}
.orderTotal{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}
.placeOrder{
    width: 95%;
    border: none;
    background-color: black;
    color: white;
    height: 30px;
    margin-left: -15%;
    
}
.cardImage{
    width:15%;
    height:15%;
    margin-bottom: 5px;
    /* border: 1px solid red; */
}

.cartDiv{
    display:flex;
    justify-content: space-around;
    
    border-bottom: 1px solid gray;
}
.cardDiv>div>p{
    font-size: 20px;
    text-align: center;
    /* border: 1px solid red; */
}